mixin button(TEXT, _ng_click, _class, icon, _ng_if, _ng_href)
	- var _i18n_field_key = "{{'" + TEXT + "' | translate }}"
	//- var _i18n_field_key = "{{" + TEXT + "}}"

	md-button(
	class=_class
	ng-click=_ng_click
	aria-label=_i18n_field_key
	ng-if=_ng_if
	ng-href=_ng_href
	)
		if icon
			md-icon
				span.fa.fa-fw(class=icon)
		span= _i18n_field_key

// TODO: this needs to go asap! pls fix this style mess
mixin button_notranslate_tmp(TEXT, _ng_click, _class, icon, _ng_if, _ng_href)
	- var _0n_field_key = "{{" + TEXT + "}}"

	md-button(
	class=_class
	ng-click=_ng_click
	aria-label='{{ TEXT }}'
	ng-if=_ng_if
	ng-href=_ng_href
	)
		if icon
			md-icon.fa.fa-fw(class=icon)
				//span.fa.fa-fw(class=icon)
		span= _0n_field_key

mixin button_notranslate(TEXT, _ng_click, _class, icon, _ng_if, _ng_href)
	- var _0n_field_key = "{{" + TEXT + "}}"

	md-button.md-raised(
	class=_class
	ng-click=_ng_click
	aria-label='{{ TEXT }}'
	ng-if=_ng_if
	ng-href=_ng_href
	)
		if icon
			md-icon
				span.fa.fa-fw.fa-2x(class=icon)
		span= _0n_field_key

mixin button_fab(TEXT, _ng_click, _class, icon, _ng_if, _ng_href)
	- var _i18n_field_key = '{{"' + TEXT + '" | translate }}'

	md-button.md-raised.md-fab(
	class=_class
	ng-click=_ng_click
	aria-label=_i18n_field_key
	ng-if=_ng_if
	)
		md-icon.fa(class=icon)
		//span= _i18n_field_key
