include ../../../shared/pug/mixins/_form
include ../../../shared/pug/mixins/_buttons

div(ng-controller="Widgets.Navbar as ctrl")
    md-toolbar.site-content-toolbar(md-scroll-shrink check-login)
        #navbar(name="navbar" layout='column' layout-align='center end' layout-fill )
            div.md-toolbar-tools(flex layout='row' layout-align='space-between center' )
                +button_icon('','home()','','fa-fw fa-2x  fa-home',null)
                md-input-container
                    label.currentRegion {{ 'locations.location_plural' | translate }}
                    md-select(ng-model="currentRegion" ng-model-options="{trackBy: '$value.uuid'}" ng-change="change()")
                        md-option(ng-value="region" ng-repeat="region in regions" ) {{ region.title }}
                //a.md-button.md-ink-ripple(ng-href='#{{ "/" + (currentRegion.slug || currentRegion.uuid)  }}') {{ currentRegion.title }}&nbsp;

                span(flex)
                +button_icon('','toogle_sidebar()','','fa-fw fa-2x fa-bars')


    md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id="right" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4" ng-click="close_sidebar()")
        md-toolbar.md-theme-indigo
            div.md-toolbar-tools
                h2 {{ 'admin.menu' | translate }}
                span(flex)
                +button_icon('','toogle_sidebar()','','fa-times fa-fw fa-2x',null, null)

        md-content(layout-padding)
            md-list
                md-list-item(ng-if="!userSession")
                    +button('locations.create_new','','md-primary','fa-fw fa-2x fa-minus-circle',null,'#!/users/login')

                md-list-item(ng-if="userSession")
                    +button('locations.create_new','','md-primary','fa-fw fa-2x fa-minus-circle',null,'#!/locations/create')

                md-list-item()
                    +button('site.subnav.index','','','fa-fw fa-2x fa-map-o',null,'#!/locations/index')

                md-list-item(ng-if="userSession")
                    +button('locations.my_locations','','btn-default','fa-fw fa-2x fa-list','userSession', '#!/users/me/locations')

                // search
                md-list-item(layout="row" layout-align="start center" ng-click="$event.stopPropagation();")
                    md-input-container(class="md-icon-float md-block")
                        md-icon.fa.fa-search.fa-2x()
                        md-autocomplete(
                        ng-disabled="ctrl.isDisabled"
                        md-no-cache="ctrl.noCache"
                        md-selected-item="ctrl.selectedItem"
                        md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                        md-search-text="ctrl.searchText"
                        md-selected-item-change="ctrl.selectedItemChange(item)"
                        md-items="item in ctrl.querySearch(ctrl.searchText)"
                        md-item-text="item.title"
                        md-min-length="3"
                        md-delay="400"
                        md-floating-label="{{ 'locations.search' | translate }} ({{ currentRegion.title || 'DE' }}) {{ searchTitleAdd }}"
                        md-menu-class="autocomplete-custom-template" ng-click="$event.stopPropagation();")
                            md-item-template()
                                span.item-title
                                    span {{item.title}}
                                span.item-metadata
                                    span.item-metastat {{item.street}}, {{item.postcode}} {{item.city}}
                            md-not-found {{'locations.none_found' | translate}}


                // user
                md-divider()
                md-list-item(ng-if="!userSession")
                    +button('users.login','','btn-default btn-small','fa-fw fa-2x fa-sign-in','!userSession', '#!/users/login')
                md-list-item(ng-if="!userSession")
                    +button('users.signup','','btn-default','fa-fw fa-2x fa-user-plus','!userSession','#!/users/create')
                //md-menu-item(ng-if="userSession")
                    +button('users.messages','','btn-default','fa-fw fa-2x fa-envelope','userSession', '#/users/messages')
                    //span.badge.messageNo(ng-if="user.messages") {{user.messages}} 12
                    span.badge.messageNo() 12

                md-list-item(ng-if="userSession")
                    +button('users.settings','','btn-default','fa-fw fa-2x fa-user','userSession', '#!/users/me')
                md-list-item(ng-if="userSession")
                    +button('users.logout','','btn-default','fa-fw fa-2x fa-sign-out','userSession', '#!/users/logout')
                md-divider
                // Language Change
                md-list-item(layout="row" layout-align="start start")
                    md-button.btn-default.btn-small(
                    ng-click="useLanguage('de')"
                    aria-label='{{ "site.lang_de" || translate }}'
                    )
                        md-icon
                            span.fa.fa-fw.fa-2x.fa-check-square-o(ng-if="lang_active=='de'")
                            span.fa.fa-fw.fa-2x.fa-square-o(ng-if="lang_active!='de'")
                        span(translate='site.lang_de')
                md-list-item(layout="row" layout-align="start start")
                    md-button.btn-default.btn-small(
                    ng-click="useLanguage('en')"
                    aria-label='{{ "site.lang_en" || translate }}'
                    )
                        md-icon
                            span.fa.fa-fw.fa-2x.fa-check-square-o(ng-if="lang_active=='en'")
                            span.fa.fa-fw.fa-2x.fa-square-o(ng-if="lang_active!='en'")
                        span(translate='site.lang_en')
                md-divider()
                div(ng-if="api_key.scopes.indexOf('admin') > -1 || api_key.scopes.indexOf('editor') > -1 || admin_regions.length > 0")
                    // admin
                    md-list-item(ng-if="api_key.scopes.indexOf('editor') > -1")
                        +button('posts.manage_posts',null,'btn-default','fa-newspaper-o fa-fw fa-2x','userSession', '#!/admin/posts')
                    md-list-item(ng-if="api_key.scopes.indexOf('editor') > -1")
                        +button('posts.site_post_plural',null,'btn-default','fa-newspaper-o fa-fw fa-2x','userSession', '#!/admin/posts/static')
                    md-list-item(ng-if="api_key.scopes.indexOf('editor') > -1")
                        +button('posts.create_post',null,'btn-default','fa-pencil-square-o fa-fw fa-2x','userSession', '#!/admin/posts/create')
                    md-divider(ng-if="api_key.scopes.indexOf('admin') > -1")
                    md-list-item(ng-if="api_key.scopes.indexOf('admin') > -1")
                        +button('regions.manage_regions','','btn-default','fa-globe fa-fw fa-2x ','userSession', '#!/admin/regions')
                    md-list-item(ng-if="api_key.scopes.indexOf('admin') > -1")
                        +button('regions.create_regions','','btn-default','fa-shower fa-fw fa-2x ','userSession', '#!/admin/regions/create')
                    md-list-item(ng-repeat="region in admin_regions")
                        // todo: turn this into a select list.
                        +button_notranslate_tmp('region.title', 'close_sidebar()','btn-default','fa-fw fa-2x fa-globe','admin_regions', '#!/admin/regions/{{ region.slug }}/locations')
                    md-divider
                    md-list-item(ng-if="api_key.scopes.indexOf('admin') > -1")
                        +button('comments.manage_comments','','btn-default','fa-comment-o fa-fw fa-2x ','userSession', '#!/admin/comments')
                    md-divider
                    md-list-item(ng-if="api_key.scopes.indexOf('admin') > -1")
                        +button('users.manage_users','','btn-default','fa-user fa-fw fa-2x ','userSession', '#!/admin/users/list')
                    md-list-item(ng-if="api_key.scopes.indexOf('admin') > -1")
                        +button('users.create_user','','btn-default','fa-user-plus fa-fw fa-2x ','userSession', '#!/admin/users/create')
                    //md-menu-item(ng-if="api_key.scopes.indexOf('admin') > -1")
                        +button('admin.dashboard', '','btn-default','fa-fw fa-2x fa-dashboard','userSession', '/admin/dashboard | navRewrite')
