include ..//mixins/_style

div(flex layout="column" layout-align="start center" layout-fill="layout-fill" layout-padding="layout-padding" class="layout-fill layout-padding layout-align-start-center layout-column")
    md-content(class="md-padding layout-column layout-fill" layout-fill flex)
        md-card(class="md-padding layout-column layout-fill" layout-fill flex)
            +headline('regions.region_plural')
            .main-fab(style="position:absolute;right:20px;top:20px;")
                md-button(class="md-fab md-accent" href="{{ urlbase }}admin/regions/create") +
            md-input-container()
                md-icon.fa.fa-search()
                input(
                ng-model="filterStr"
                ng-change="filterGrid()"
                style=""
                placeholder="Filter..."
                type="text")
            div(layout='column' layout-align="start center" layout-fill  flex style="height:100%; border-bottom: 1px solid #aaa;")
                div(ag-grid="gridOptions" class="ag-material" style="height:100%; min-height: 100%; min-width: 200px; width: 100%;")