include ../mixins/_form
include ../mixins/_buttons

md-toolbar.md-medium-tall(md-scroll-shrink md-shrink-speed-factor='0.5' ng-controller="Widgets.Navbar as ctrl" check-login)
    div#navbar(name="navbar" layout='column' layout-align='center end' layout-fill)
        div.md-toolbar-tools(layout='row' layout-align='space-between center')
            div(flex="90" layout='row' layout-align='start center')
                div
                    h2
                        a(href='/') {{ 'site.title' | translate }}
                    p.meta
                        a(ng-href='/regions/{{ currentRegion.slug }}') {{ currentRegion.title }}&nbsp;
            div(flex)

            div(flex="5" layout="row" layout-align="end center")
                md-menu()
                    +button_fab(null,'$mdOpenMenu()',null,'fa-map-marker')
                    md-menu-content(width='4')

                        md-menu-item(ng-if="userSession")
                            +button('locations.create_new',null,'','fa-plus-circle',null,'/locations/create')
                        md-menu-item(ng-if="!userSession")
                            +button('locations.create_new',null,'','fa-plus-circle',null,'/users/login')
                        md-menu-item(layout="row" layout-align="start center")
                            md-autocomplete(
                            ng-disabled="ctrl.isDisabled"
                            md-no-cache="ctrl.noCache"
                            md-selected-item="ctrl.selectedItem"
                            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                            md-search-text="ctrl.searchText"
                            md-selected-item-change="ctrl.selectedItemChange(item)"
                            md-items="item in ctrl.querySearch(ctrl.searchText)"
                            md-item-text="item.title"
                            md-min-length="3"
                            md-delay="400"
                            md-floating-label="{{ 'locations.search' | translate }} {{ searchTitleAdd }}"
                            md-menu-class="autocomplete-custom-template")
                                md-item-template
                                    span.item-title
                                        span {{item.title}}
                                    span.item-metadata
                                        span.item-metastat {{item.street}}, {{item.postcode}} {{item.city}}
                                md-not-found {{'locations.none_found' | translate}}

            div(flex="5" layout="row" layout-align="end center")
                md-menu()
                    +button_fab(null,'$mdOpenMenu()',null,'fa-language')
                    md-menu-content(width='4')
                        // todo: loop through available languages
                        md-menu-item(layout="row" layout-align="start center")
                            +button('site.lang_de','useLanguage("de")','btn-default btn-small','fa-sign-in',null, null)

                        md-menu-item(layout="row" layout-align="start center")
                            +button('site.lang_en','useLanguage("en")','btn-default btn-small','fa-sign-in',null,null)

            div(flex="5" layout="row" layout-align="end center")
                md-menu
                    +button_fab(null,'$mdOpenMenu()',null,'fa-user')
                    md-menu-content(width='4')
                        md-menu-item(ng-if="!userSession")
                            +button('users.login',null,'btn-default btn-small','fa-sign-in','!userSession', '/users/login')
                        md-menu-item(ng-if="!userSession")
                            +button('users.signup',null,'btn-default','fa-user-plus','!userSession','/users/create')
                        md-menu-item(ng-if="userSession")
                            +button('locations.my_locations',null,'btn-default','fa-list','userSession', '/users/me/locations')
                        md-menu-item(ng-if="api_key.scopes.indexOf('editor') > -1")
                            +button('posts.manage_posts',null,'btn-default','fa-newspaper-o','userSession', '/admin/posts')
                        md-menu-item(ng-if="userSession")
                            +button('users.settings',null,'btn-default','fa-cog','userSession', '/users/me')
                        md-menu-item(ng-if="userSession")
                            +button('users.logout',null,'btn-default','fa-sign-out','userSession', '/users/logout')
        div(flex="10")
